.vscode

cpp/recursion/recursions
cpp/pointers/pointers
cpp/object/buffer
cpp/object/operators/vectors
cpp/object/operators/complex_nums
cpp/object/inheritance/sensors-abstract_class
cpp/object/stack

cpp/recursion/Recursions
cpp/pointers/Pointers
cpp/object/operators/Buffer
cpp/object/operators/Vectors
cpp/object/operators/Complex_nums
cpp/object/inheritance/Sensors_abstract_class
cpp/object/Stack
cpp/object/templates/Stack
cpp/pointers/Function_ptr
cpp/object/templates/Standard_template_librarys

cpp/SOLID/SingleResponsibility/Invoice/main
cpp/SOLID/Open-Close/Invoice/main
cpp/object/SOLID/SingleResponsibility/Invoice/main
cpp/object/SOLID/Open-Close/Invoice/main

cpp/DesignPatterns/Factory/Shapes/main
cpp/object/DesignPatterns/Factory/Shapes/main

cpp/const/Consts
cpp/const/Const_cast

cpp/testing.cpp
cpp/testing

cpp/object/Private_destructor
cpp/pointers/PolimorphicDestructors
cpp/object/inheritance/Dogs

cpp/object/functor/BasicFunctor
cpp/object/functor/EnemyComperator
cpp/object/functor/lambda/UnnamedFunctor-Lambda

cpp/STL/algorithm/searching/Find
cpp/STL/algorithm/searching/Nth_element

cpp/STL/algorithm/sorting/Sort
cpp/STL/algorithm/sorting/SortObjects
cpp/STL/algorithm/sorting/Partial_sort
cpp/STL/algorithm/sorting/Sorted_until

cpp/STL/algorithm/Copy